@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat_bold{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
  }

.montserrat_normal{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
  }

:root {
    --custom-color: initial;
    --custom-font-size: unset;
    --custom-line-height: initial;
}


.text-title {
    font-size: 24px;
    font-weight: bold;
}

.text-description {
    font-size: 16px;
    font-weight: normal;
    color: #888888;
}

.text-paragraph {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
}
