@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat_bold{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
  }

.montserrat_normal{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
  }
  :root {
    --custom-color: initial;
    --custom-font-size: unset;
    --custom-line-height: initial;
 }


 .text-title {
    font-size: 24px;
    font-weight: bold;
 }

 .text-description {
    font-size: 16px;
    font-weight: normal;
    color: #888888;
 }

 .text-paragraph {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
 }

html{
    background-color: white;
}

p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}

h1 h2 h3 h4 h5 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900px;
    font-style: normal;
}

a{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}

header {
    background-color: gray;
    padding: 10px 1px;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}
  
.nav-item {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
}
  
.logo {
    font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
}



.section_1 {
    background-color: #f0f0f0; /* Màu nền cho phần 1 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.benefit-description{
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    width: 30vw;
  }
  
  
  .benefit h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .benefit p {
    font-size: 1rem;
    line-height: 1.5;
  }
.section_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.part {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.part h2 {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}
.part p {
    margin-bottom: 20px;
}
.part a {
    display: inline-block;
    background-color: #222;
    color: #fff;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin: 10px auto; 
}

.section_4 {
    background-color: white;
    padding: 50px 0;
    text-align: center;
    
    }
  
  .section_4 h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .section_4 h3 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .section_4 h4 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .section_4 form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .section_4 input[type="email"] {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .section_4 button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  .section_4 ul li{
    display: inline;
  }

.info {
    max-width: 500px; /* Đặt chiều rộng tối đa cho phần thông tin */
}

img {
    max-width: 40%; /* Đảm bảo hình ảnh không vượt quá phần tử chứa */
    height: auto;
    padding: 5px;
}

h2, h3, h4, p {
    margin: 0;
}

footer {
    background-color: gray;
    color: black;
    padding: 30px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-left {
    flex: 1;
    text-align: left;
    padding: 50px;
  }
  
  .footer-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-menu {
    flex: 1;
  }
  
  .footer-menu h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-menu li {
    margin-bottom: 5px;
    display: inline;
  }

  .footer-menu img {
    max-width: 40%; /* Đảm bảo hình ảnh không vượt quá phần tử chứa */
    height: 35px;
    padding: 5px;
  }
  
  .footer-menu a {
  color: black;
  text-decoration: none;
}
  
.copyright {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
    
}
  
.copyright p {
  margin: 0;
  font-size: 0.8rem;
  color: white;
}

.job-posting {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 4px;
  }
  .job-posting h2 {
  text-align: center;
  margin-bottom: 1rem;
  }
  .job-posting p {
  margin-bottom: 0.5rem;
  }
.job-title {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid black;
}
