
/* text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* { 
  --custom1-color-light: rgba(255, 78, 255, 1);
  --custom1-color-dark: rgba(255, 78, 255, 1);

  --custom2-color-light: rgba(237, 176, 255,1);
  --custom2-color-dark: rgba(237, 176, 255,1);
}

body {
  --custom1-color: var(--custom1-color-light);
  --custom2-color: var(--custom2-color-light);
}


/* Dark theme if user prefers */
@media (prefers-color-scheme: light) {
  body {
    --custom1-color: var(--custom1-color-dark);
    --custom2-color: var(--custom2-color-dark);
  }
}


h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

h2{
    font-optical-sizing: auto;
    font-weight: 450;
}

h3{
    font-optical-sizing: auto;
    font-weight: 500;
}

h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #595959;
}

dt { 
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* button */
input[type=submit] {
  /* background-color: #a6a6a6; */
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
/* colors */

.light_gray{
    /* background-color: #f0f0f0; */
}

.gray{
    /* background-color: #d8d8d8; */

}

.grayer{
    /* background-color:#cccccc; */

}

.dark_gray{
    /* background-color: #bfbfbf; */
}

.darker_gray{
    /* background-color: #a6a6a6; */
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
  
.nav-item {
    float: left;
    color: black;
    width: 100%;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}

.nav-item:hover{
    /* background-color: #666666; */
    color: white;
}

/* parent containers */
.row {
display: flex;
padding: 20px;
}

.column_50{
    flex: 50%;
    text-align: center;
    padding: 10px;
}
.column_30{
    flex: 33.3%;
    text-align: center;
    padding: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
}


/* align */
.center{
    text-align: center;
    padding: 20px;
}
.left{
    text-align: left;
    padding: 20px;
}
.right{
  text-align: right;
  padding: 20px;
}

/* image */
.cookers_logo{
    width: 20%;
}

.logo{
    width: 40%;
}

.logo_apply{
  margin-top: 10%;
  width: 50%;
}

#meet_the_members{
    width: 30%;
}


.member_pic{
    width: 60%;
}

/* footer */

.nav-item-footer{
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-size: 15px;
}

.nav-item-footer:hover{
  color: white;
}

footer {
    /* background-color:#cccccc; */
    color: black;
    padding: 30px 0;
    margin: 0;
    box-shadow: var(--custom1-color) 0px 3px 5px;
    background-image: linear-gradient(45deg, rgba(255, 78, 255, 0.1), rgba(255, 78, 255, 0.2)) !important;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-left {
    flex: 1;
    text-align: left;
    padding: 50px;
  }
  
  .footer-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-menu {
    flex: 1;
  }
  
  .footer-menu h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-menu li {
    margin-bottom: 5px;
    display: inline;
  }

  .footer-menu img {
    max-width: 40%; /* Đảm bảo hình ảnh không vượt quá phần tử chứa */
    height: 35px;
    padding: 5px;
  }
  
  .footer-menu a {
  color: black;
  text-decoration: none;
}

.copyright {
    /* background-color: #bfbfbf; */
    padding: 10px 0;
    text-align: center;
      
  }
    
  .copyright p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
  }


/* ??? */
:root {
    --custom-color: initial;
    --custom-font-size: unset;
    --custom-line-height: initial;
}

.text-title {
    font-size: 24px;
    font-weight: bold;
}

.text-description {
    font-size: 16px;
    font-weight: normal;
    color: #888888;
}

.text-paragraph {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
}

.section_1 {
    /* background-color: #f0f0f0;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.benefit-description{
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    padding: 10px;
    width: 30vw;
  }
  
  
  .benefit h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .benefit p {
    font-size: 1rem;
    line-height: 1.5;
  }
.section_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f0f0f0; */
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.part {
    /* background-color: #f8f9fa; */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.part h2 {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}
.part p {
    margin-bottom: 20px;
}
.part a {
    display: inline-block;
    /* background-color: #222; */
    color: #fff;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin: 10px auto; 
}

.section_4 {
    /* background-color: white; */
    padding: 50px 0;
    text-align: center;
    
    }
  
  .section_4 h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .section_4 h3 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .section_4 h4 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .section_4 form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .section_4 input[type="email"] {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .section_4 button[type="submit"] {
    /* background-color: #333; */
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  .section_4 ul li{
    display: inline;
  }

.info {
    max-width: 500px; /* Đặt chiều rộng tối đa cho phần thông tin */
}

img {
  max-width: 40%; /* Đảm bảo hình ảnh không vượt quá phần tử chứa */
  height: auto;
  padding: 5px;
}

h2, h3, h4, p {
  margin: 0;
}

.job-posting {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    background-image: linear-gradient(45deg, rgb(254, 205, 254), rgb(255, 255, 255)) !important;
    }
    .job-posting h2 {
    text-align: center;
    margin-bottom: 1rem;
    }
    .job-posting p {
    margin-bottom: 0.5rem;
    }

  


.card { 
  background-image: linear-gradient(45deg, rgba(255, 78, 255, 0.2), rgba(255, 78, 255, 0.5)) !important;
}




    .job-item .fs-2.fw-3.lh-3 {
      display: none; /* Hide the second p by default */
  }
  
  .job-item:focus-within .fs-2.fw-3.lh-3 {
      display: block; /* Show the second p when the parent div is focused */
  }


  input, select, textarea{ 
    width: 100%;
    padding: 20px 30px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
  }